.container{
    display: flex;
    flex-direction: column;
    background:white;
    margin: auto;
    padding-bottom: 30px;
    width: 600px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #3c009d;
    font-weight: 500;
    font-size: 50px;
}
.underline{
    width: 60px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}


.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    align-items: center;
    display: flex;
    margin: auto;
    background-color: #eaeaea;
    width: 480px;
    border-radius: 6px;
    height: 80px;

}


.input img{
    margin: 0px 30px;
}

.input input{
    border: none;
    margin: 20px;
    height: 50px;
    width: 400px;
    outline: none;
    color: #797979;
    background:transparent;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #4c00b4;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}